<div class="shell">
  <shell-header></shell-header>
  <div class="shell__content">
    @for (item of history(); track $index) {
      @if (item.type === "input") {
        <kbd class="shell__input">
          <b>{{ item.prompt }}> </b>
          @if (!item.message) {
            <span>{{ item.command }}</span>
          } @else {
            <ng-container
              *ngComponentOutlet="
                item.message.component;
                inputs: item.message.inputs
              "
            ></ng-container>
          }
        </kbd>
      } @else {
        <output class="shell__output">
          @if (typeof item.message === "string") {
            <span>{{ item.message }}</span>
          } @else {
            <ng-container
              *ngComponentOutlet="
                item.message.component;
                inputs: item.message.inputs
              "
            ></ng-container>
          }
        </output>
      }
    }
    <kbd class="shell__input">
      <b class="shell__input-prompt">
        <span>{{ commandService.prompt() }}>&nbsp;</span>
      </b>
      <span
        #entry
        class="shell__entry"
        [class.shell__entry--sql]="typingSql()"
        contenteditable="plaintext-only"
        spellcheck="false"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        (input)="onInput($event)"
      ></span>
      <span class="shell__overlay" aria-hidden="true">
        <b class="shell__overlay-prompt">
          <span>{{ commandService.prompt() }}>&nbsp;</span>
        </b>
        @if (typingSql()) {
          <sql-query [sql]="entryText()"></sql-query>
        } @else {
          <span class="shell__overlay-suggestion">
            <span>{{ entryText() }}{{ suggestionText() }}</span>
          </span>
        }
      </span>
    </kbd>
  </div>
</div>
