.shell {
  min-width: 100vw;
  min-width: 100dvw;
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--fg-color);
  background-color: var(--bg-color);
  overflow: auto;

  &__content {
    font-family: "Courier New", Courier, monospace;
    padding: 1rem;
    cursor: text;
  }

  &__input,
  &__output {
    position: relative;
    display: block;
    margin: 0.5rem 0;
    font-family: inherit;
    white-space: normal;
  }

  &__input {
    position: relative;
  }

  &__output {
    color: var(--output-color);
    white-space: pre-line;
  }

  &__entry {
    border-right: 1px solid transparent;
    caret-color: currentColor;
    outline: none;

    &:not(:focus) {
      animation: caret-blink 1s steps(1) infinite;
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  &__overlay-prompt {
    visibility: hidden;
  }

  &__overlay-suggestion {
    opacity: 0.5;
  }
}

@keyframes caret-blink {
  0%,
  100% {
    border-right-color: currentColor;
  }
  50% {
    border-right-color: transparent;
  }
}
