<div class="shell-intro">
  <h1>SQLocal Shell</h1>
  <br />
  <p>Run SQLite3 in the browser</p>
  <br />
  <dl>
    <div>
      <dt>sqlocal version:&nbsp;</dt>
      <dd>{{ sqlocalVersion }}</dd>
    </div>
    <div>
      <dt>sqlite version:&nbsp;</dt>
      <dd>{{ sqliteVersion }}</dd>
    </div>
  </dl>
  <br />
  <p>
    Opened local database: <b>{{ databaseName }}</b>
  </p>
  <p>Enter SQL to execute against this database.</p>
  <p>Enter <b>.help</b> to view additional commands.</p>
  <br />
</div>
