.shell-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--header-color);

  &__logo,
  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 500ms;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }

  &__spacer {
    flex-grow: 1;
  }
}
